<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sortscript.shebeauty">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permision.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SheBeauty">
        <activity android:name=".Pack"></activity>
        <activity android:name=".Jym" />
        <activity android:name=".Salon2" />
        <activity android:name=".Tailor1" />
        <activity android:name=".BookingView" />
        <activity android:name=".Appointment" />
        <activity android:name=".Availablefoam" />
        <activity android:name=".Bookingdetails" />
        <activity android:name=".Bookingfrom" />
        <activity android:name=".foam3" />
        <activity android:name=".Foam2" />
        <activity android:name=".Recyle5" />
        <activity android:name=".Activitydetails1" />
        <activity android:name=".From" />
        <activity android:name=".Forgetpassword" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.SheBeauty.NoActionBar" />
        <activity android:name=".Registerpage" />
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>